@keyframes scroll {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}
.sliderNames {
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.sliderNames::before,
.sliderNames::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.sliderNames::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.sliderNames::before {
  left: 0;
  top: 0;
}
.sliderNames .slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.sliderNames .slide {
  height: 100px;
  width: 250px;
  padding-: 20px;
}
.slide img {
  width: 250px;
  height: 100px;
  object-fit: contain;
}
