.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; /* Размещаем элементы по краям */
  align-items: center;
  padding: 10px; /* Отступы внутри хедера */
  z-index: 1000;
}

.headerContent {
  width: 100%;
  max-width: 380px; /* Ширина совпадает с шириной контейнера */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languageSelector {
  display: flex;
  gap: 10px;
}

.flag {
  width: 30px;
  height: auto;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.flag.selected {
  border-color: #000;
}

.playButton {
  border: none;
  cursor: pointer;
  color: #fff;
  background: #000;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  width: 17px;
  height: 17px;
}
