/* body {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 100vh;
  justify-content: center;
} */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.sliderNames {
  /*   background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  margin: 10px 0;

  overflow: hidden;
  position: relative;
}
.sliderNames::before,
.sliderNames::after {
  /*   background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.sliderNames::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.sliderNames::before {
  left: 0;
  top: 0;
}
.sliderNames .slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.sliderNames .slide {
  height: 100px;
  width: 250px;
  padding-left: 20px;
}
.slide img {
  width: 250px;
  height: 100px;
  object-fit: contain;
}
