@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Merriweather", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #fff;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Merriweather", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background: transparent;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}
input {
  border: 0;
  padding: 0;
}
input[type="radio" i] {
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
input:focus {
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.headText {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
